* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: grey;
}

.editForm {
  display: flex;
  flex-direction: column;
  width: 30%;
}

div {
  /* border: 1px solid black; */
}
/* Header */
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: orange;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}
.navigation {
  justify-self: flex-start;
}
.navItem {
  font-size: 26px;
  justify-self: flex-end;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 20px;
  background-color: lightgrey;
  padding: 10px;
}
article {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
}
article a:link {
  text-decoration: none;
  font-size: 20px;
}
article a:hover {
  text-decoration: underline;
}
article button {
  border: 0;
  padding: 0;
  background: white;
}
article button:hover {
  text-decoration: underline;
}
.orderNavigation {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  background-color: white;
}
.upvotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postSection {
  display: flex;
  background-color: white;
  margin-bottom: 10px;
  border-bottom: solid 1px black;
}
.post {
  padding-left: 10px;
}
.postBottom {
  display: flex;
}
.postBottom p {
  margin-right: 5px;
}
.postBottom button {
  margin-right: 5px;
}
.commentSection {
  background-color: white;
}
.comments {
  padding: 10px;
}

.replies {
  position: relative;
  left: 45px;
  padding: 10px;
}

/* Profile */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.profile img {
  margin: 20px;
}

.profile p {
  margin-bottom: 5px;
}

.profile a {
  margin-bottom: 20px;
}

/* Login */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.noAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.noAccount a {
  font-size: 24px;
}

/* Edit profile */

.editProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.imageUpload form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.editProfileButton {
  align-self: flex-start;
  margin-top: 5px;
}
.editProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.editProfileForm form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.editProfileForm button {
  margin-top: 5px;
  max-width: auto;
}

/* Delete Account @ editprofile.php */

.deleteAccountContainer {
  display: flex;
  max-width: 300px;
  align-content: center;
  background-color: lightcoral;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  width: 50%;
  padding: 3%;
}

.deleteAccountText {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.deleteAccountButton {
  display: flex;
  justify-content: center;
}

/* Delete Account @ deleteaccount.php */
.deleteAccountFinalContainer {
  display: flex;
  background-color: lightcoral;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 30px;
  padding: 3%;
  margin: 10%;
}

.deleteAccountFinalButton {
  justify-content: center;
  width: 60%;
  padding: 0.5%;
}

/* Deletion Confirmed @ deletionconfirmed.php */
.deletionConfirmedMsg {
  display: flex;
  background-color: lightgreen;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 30px;
  padding: 3%;
  margin: 10%;
}

h3 {
  display: flex;
  align-self: center;
  justify-content: center;
  text-decoration: underline;
}

/* Create post */

.createPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.createPostForm form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.createPostForm button {
  margin-top: 5px;
  max-width: auto;
}

/* Sign up, Edit Post */
.signupForm,
.editPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.signupForm form,
.editPostForm form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.signupForm button,
.editPostForm button {
  margin-top: 5px;
  max-width: auto;
}
/* desktop media query */
@media screen and (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  section {
    width: 70%;
  }
  main {
    width: 70%;
  }
}
