* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.signupForm {
  display: flex;

  color: green;
}
main {
  display: flex;
  flex-direction: column;
}

.editForm {
  display: flex;
  flex-direction: column;
  width: 30%;
}
